In [2]:
import numpy as np
import pandas as pd
import os
import plotly.express as px
import plotly.graph_objects as go

In [3]:
df = pd.read_excel("",sheet_name="Hoja1")

ValueError: Worksheet named 'Hoja1' not found

In [ ]:
df

,NOMBRE,CODIGOMATERIA,UNIDAD,BLOQUE,Coordenadas,LATS,LONGS
0,QUIMIOMETRIA,ESTP1033,Facultad de Ciencias Naturales y Matemáticas,9M,"-2.14682, -79.96671",-2.14682,-79.96671
1,DISEÑO DE CIMENTACIONES SUPERFICIALES Y PROFUNDAS,ARQP1014,Facultad de Ingeniería en Ciencias de la Tierra,9M,"-2.14682, -79.96671",-2.14682,-79.96671
2,INTRODUCCIÓN A LA INDUSTRIA HIDROCARBURÍFERA,PETG1032,Facultad de Ingeniería en Ciencias de la Tierra,13H,"-2.14592, -79.96581",-2.14592,-79.96581
3,ESTRATIGRAFIA Y SEDIMENTACIÓN,GEOG1028,Facultad de Ingeniería en Ciencias de la Tierra,13H,"-2.14592, -79.96581",-2.14592,-79.96581
4,PATOLOGÍA ACUÍCOLA I,ACUG1057,Facultad de Ingeniería Marítima y Ciencias del...,5K,"-2.14675, -79.96303",-2.14675,-79.96303
...,...,...,...,...,...,...,...
847,PROCESAMIENTO DE FRUTAS Y VEGETALES,ALIG1044,Facultad de Ingeniería en Mecánica y Ciencias ...,12G,"-2.14441, -79.96641",-2.14441,-79.96641
848,"PROCESAMIENTO DE CÁRNICOS, PESCADOS Y MARISCOS",ALIG1046,Facultad de Ingeniería en Mecánica y Ciencias ...,12G,"-2.14441, -79.96641",-2.14441,-79.96641
849,PROCESAMIENTO DE LÁCTEOS,ALIG1045,Facultad de Ingeniería en Mecánica y Ciencias ...,12G,"-2.14441, -79.96641",-2.14441,-79.96641
850,INVESTIGACIÓN II,CCAG1004,ESCUELA SUPERIOR POLITECNICA DEL LITORAL,AULAS EDCOM,"-2.15149, -79.9464",-2.15149,-79.94640
851,INVESTIGACIÓN I,CCAG1003,ESCUELA SUPERIOR POLITECNICA DEL LITORAL,AULAS EDCOM,"-2.15149, -79.9464",-2.15149,-79.94640

In [ ]:
df['BLOQUE']=[x.strip() for x in df['BLOQUE']]
df['BLOQUE']

0               9M
1               9M
2              13H
3              13H
4               5K
          ...
847            12G
848            12G
849            12G
850    AULAS EDCOM
851    AULAS EDCOM
Name: BLOQUE, Length: 852, dtype: object

In [ ]:
lat1=df[(df['NOMBRE']=="QUIMIOMETRIA") & (df['BLOQUE']=="9M")]
lat1

,NOMBRE,CODIGOMATERIA,UNIDAD,BLOQUE,Coordenadas,LATS,LONGS
0,QUIMIOMETRIA,ESTP1033,Facultad de Ciencias Naturales y Matemáticas,9M,"-2.14682, -79.96671",-2.14682,-79.96671

In [ ]:
lat1=df[(df['NOMBRE']=="QUIMIOMETRIA") & (df['BLOQUE']=="9M")]['LATS'].values[0]
lon1=df[(df['NOMBRE']=="QUIMIOMETRIA") & (df['BLOQUE']=="9M")]['LONGS'].values[0]
lat2=df[(df['NOMBRE']=="GEOMÁTICA") & (df['BLOQUE']=="13C")]['LATS'].values[0]
lon2=df[(df['NOMBRE']=="GEOMÁTICA") & (df['BLOQUE']=="13C")]['LONGS'].values[0]
print(lat1,lat2,lon1,lon2)

-2.14682 -2.14521 -79.96671 -79.9649

In [ ]:
df.to_excel("planificacion.xlsx")